@tailwind base;
@tailwind components;
@tailwind utilities;



body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 12px;
	background-color: #000;
}

body::-webkit-scrollbar
{
	width: 12px;
	background-color: #000;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #D62929;
  border: 3px solid #000;
}


.secondary {
  background: #371515;
}

.chg-secondary:hover {
  background: #371515;
}


.shine {
    animation: shine 2s infinite alternate;
}

@keyframes shine {
    0% {
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    }
    100% {
        box-shadow: 0 0 10px rgb(255, 1, 1), 0 0 20px rgb(255, 6, 6);
    }
}


.slide-in-left {
  animation: slide-in-left 3s;
}

@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}


.slide-in-right {
  animation: slide-in-right 3s;
}


@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

